section {
    height: 100%;
}

.cart-preview {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    color: black;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.cart-preview div {
    padding: 0 0.5rem 0.5rem;
}

.cart-preview__image {
    width: 100%;
    height: 50%;
    margin: 1rem;
    overflow: hidden;
}

.cart-preview__image img {
    width: 90%;
    transition: transform .4s ease-out;
}

.cart-preview:hover .cart-preview__image img {
    transform: scale(1.05);
}

.cart-preview__image span {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-family: FontAwesome;
}

.cart-preview__image span:hover {
    cursor: pointer;
}

.cart-preview__description p {
    margin: 0;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.cart-preview__description h4 {
    margin: 0;
    padding: 0 0.5rem;
}

.cart-preview__link {
    color: black;
    letter-spacing: 2px;
}

@media (max-width: 54rem) {
    .cart-preview__description h4 {
        font-size: 0.8rem;
    }

    .cart-preview__description p {
        font-size: 1.5rem;
    }
}
