section {
    height: 100%;
}

.cart-preview {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    color: black;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.cart-preview div {
    padding: 0;
}

.cart-preview__image {
    width: 100%;
    height: 50%;
    margin: 1rem;
    overflow: hidden;
}

.cart-preview__image img {
    width: 100%;
    transition: transform .4s ease-out;
}

.cart-preview:hover .cart-preview__image img {
    transform: scale(1.05);
}

.cart-preview__image span {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    font-family: FontAwesome;
}

.cart-preview__image span:hover {
    cursor: pointer;
}

.cart-preview__description p {
    margin: 0;
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}

.cart-preview__description h4 {
    margin: 0;
    padding: 0 0.5rem;
}

.cart-preview__link {
    color: black;
    letter-spacing: 2px;
}

.cart-preview__button {
    display: block;
    position: relative;
    margin: 0.5rem;
    padding: 0.8em 2em;
    border: 0 solid transparent;
    border-radius: 10px;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .5) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0, 0, 0, .3) 0 2px 5px;
    color: white;
    text-transform: uppercase;
    font-family: Calibri, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    outline: none;
}

.cart-preview__button:active {
    top: 1px;
    box-shadow: none;
}

.cart-preview__button:hover {
    transition: .5s linear;
    background-position: -200% 0, 0 0;
}

.favorite {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

@media (max-width: 54rem) {
    .cart-preview__description h4 {
        font-size: 0.8rem;
    }

    .cart-preview__description p {
        font-size: 1.5rem;
    }

    .cart-preview__button {
        padding: 0 0.5rem;
        border-radius: 5px;
        font-size: 0.8rem;
    }
}
