
.header__search {
    display: inline-block;
    border-bottom: 1px solid white;
    margin: 0 0 0 1rem;
    padding: 0;
    background: black;
    opacity: 0.9;
    text-align: center;
}

.header__search input {
    border: none;
    background: black;
    color: white;
    font-size: 1rem;
}

.header__search input:focus {
    outline: none;
}

.header__search span:before {
    content: "\f002";
    color: white;
    font-family: FontAwesome;
}

.header__search input::-webkit-input-placeholder {
    color: white;
    font-family: 'Poiret One', cursive;
}

.header__search input::-moz-placeholder {
    color: white;
}

@media (max-width: 25rem) {
    .header__search {
        margin: 0.2rem;
        padding: 0;
    }

    .header__search input {
        width: 80%;
    }
}
