.auth {
    width: 90%;
    margin: 1rem auto;
    font-family: 'Poiret One', cursive;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

div.form-row {
    display: flex;
    justify-content: center;
}

.auth button {
    font-weight: 600;
}

.auth input {
    font-size: 1.2rem;
}
