.login-message,
.auth {
    width: 90%;
    margin: 1rem auto;
    font-family: 'Poiret One', cursive;
    text-align: center;
}

.login-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.auth {
    font-size: 1rem;
    font-weight: 600;
}

.auth button {
    font-weight: 600;
}

.auth input {
    font-size: 1.2rem;
}

div.form-row {
    display: flex;
    justify-content: center;
}
